<mat-card *ngIf="CurrentTab" class="example-card" dir="rlt">
  <mat-card-header style="background-color: gray; display: inline;" dir="rtl" >
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title style="text-align: center">{{title}}</mat-card-title>
    <!-- <mat-card-subtitle>{{subTitle}}</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img *ngIf="imgUrl" mat-card-image src="{{imgUrl}}" alt="Photo of a {{title}}"> -->
  <mat-card-content dir="rtl">
    <p>
      {{content}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <!-- <app-progress-bar *ngIf="!isBoolean"></app-progress-bar>
     -->
     <div>تاریخ انقضا: {{date}}</div>
     <div style="color: red" *ngIf="expire">منقصی شده</div>
     <mat-checkbox *ngIf="!expire" class="example-margin" [(ngModel)]="checked"(change)="oncheckBoxChange()">شرکت در نظر سنجی</mat-checkbox>
     <div *ngIf="!isBoolean && !expire && checked">
    <mat-slider  [max]="100" [min]="0" [step]="1" [thumbLabel]="true"  (change)="onPersentSelected($event)">
    </mat-slider>
    <div style="background-color: gray">درصد کل: {{totalPersent}}</div>
  </div>
    <mat-radio-group *ngIf="isBoolean && !expire && checked" aria-labelledby="example-radio-group-label" class="example-radio-group"
      [(ngModel)]="favoriteSeason" (change)="onVoteselect()">
      <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
        {{season}}
      </mat-radio-button>
      <div style="background-color: gray"> تعداد کل رای ها مثبت: {{totalpositive}}</div>
      <div style="background-color: gray"> تعداد کل رای ها منفی: {{totalnegative}}</div>
    </mat-radio-group>
    <mat-slide-toggle *ngIf="!expire && checked "
          class="example-margin"

          [(ngModel)]="detailchecked"
          >
        جزئیات رای ها
      </mat-slide-toggle>
      <div *ngIf="detailchecked">
        جزئیات:
        <ul>
          <li *ngIf="isBoolean">
            <div *ngFor="let item of usersVoted">
              <p>{{item.username}}: {{item.vote}}</p>
            </div>
          </li>
          <li *ngIf="!isBoolean">
            <div *ngFor="let item of usersPersented">
              <p>{{item.username}}: {{item.persent}}</p>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="!expire && checked">
        نظرها:
        <ul>
          <li *ngFor="let item of usersComment">
            {{item.username}}: {{item.comment}}
          </li>
        </ul>
        <div> <input matInput placeholder="نظر خود را بنویسید" value="" [(ngModel)]="comment">
          <button class="form-control" type="submit" mat-raised-button color="primary" (click)="onSubmitComment()"
          >ثبت</button>
        </div>
      </div>
  </mat-card-actions>
</mat-card>



<!-- ----------expire Card --------------------- -->
<mat-card *ngIf="ExpiredTab && expire" class="example-card" dir="rlt">
    <mat-card-header style="background-color: gray; display: inline;" dir="rtl" >
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title style="text-align: center">{{title}}</mat-card-title>
      <!-- <mat-card-subtitle>{{subTitle}}</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img *ngIf="imgUrl" mat-card-image src="{{imgUrl}}" alt="Photo of a {{title}}"> -->
    <mat-card-content dir="rtl">
      <p>
        {{content}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <app-progress-bar *ngIf="!isBoolean"></app-progress-bar>
       -->
       <div>تاریخ انقضا: {{date}}</div>
       <div style="color: red" *ngIf="expire">منقصی شده</div>
       <!-- <mat-checkbox *ngIf="!expire" class="example-margin" [(ngModel)]="checked"(change)="oncheckBoxChange()">شرکت در نظر سنجی</mat-checkbox> -->
       <div *ngIf="!isBoolean && expire">
      <div style="background-color: gray">درصد کل: {{totalPersent}}</div>
    </div>
      <mat-radio-group *ngIf="isBoolean && expire" aria-labelledby="example-radio-group-label" class="example-radio-group"
        [(ngModel)]="favoriteSeason" (change)="onVoteselect()">
        <!-- <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
          {{season}}
        </mat-radio-button> -->
        <div style="background-color: gray"> تعداد کل رای ها مثبت: {{totalpositive}}</div>
        <div style="background-color: gray"> تعداد کل رای ها منفی: {{totalnegative}}</div>
      </mat-radio-group>
      <mat-slide-toggle *ngIf="expire"
            class="example-margin"

            [(ngModel)]="detailchecked"
            >
          جزئیات رای ها
        </mat-slide-toggle>
        <div *ngIf="detailchecked">
          جزئیات:
          <ul>
            <li *ngIf="isBoolean">
              <div *ngFor="let item of usersVoted">
                <p>{{item.username}}: {{item.vote}}</p>
              </div>
            </li>
            <li *ngIf="!isBoolean">
              <div *ngFor="let item of usersPersented">
                <p>{{item.username}}: {{item.persent}}</p>
              </div>
            </li>
          </ul>
        </div>
        <div *ngIf="expire">
          نظرها:
          <ul>
            <li *ngFor="let item of usersComment">
              {{item.username}}: {{item.comment}}
            </li>
          </ul>
          <div> <input matInput placeholder="نظر خود را بنویسید" value="" [(ngModel)]="comment">
            <button class="form-control" type="submit" mat-raised-button color="primary" (click)="onSubmitComment()"
            >ثبت</button>
          </div>
        </div>
    </mat-card-actions>
  </mat-card>

