.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}


.example-card {
  border: 1px solid black;
  width: 600px;
  margin: 10px auto;
}
