<section  >
  <form  class="form"  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-control">
      <input type="email" matInput placeholder="ایمیل خود را وارد کنید" formControlName="email">
      <mat-hint>ali@ali.com</mat-hint>
      <mat-error>ایمیل وارد شده اشتباه است</mat-error>
    </mat-form-field>
    <mat-form-field class="form-control">
      <input type="password" matInput placeholder="پسورد خود را وارد کنید" formControlName="password">
      <mat-error>wrong</mat-error>
    </mat-form-field >
    <button class="form-control" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">ورود</button>
    <p *ngIf="!status" style="color: red">رمز با پسورد اشتباه است</p>
  </form>

</section>

<!-- <p>
  login work!
</p> -->
