
section {
  height: 500px;
  width: 500px;
  margin:10px auto;
}

.form {
  width: 400px;
  height: auto;
  box-shadow: 0 3px 60px rgba(0, 0, 0, .25);
  border-radius: 8px;
  padding: 15px;
}

.form-control {
  width: 80%;
  height: auto;
  margin: 10px;
  padding: auto;

}
