<mat-tab-group>
  <mat-tab *ngIf="authService.isAdmin" label="Admin">
    <section>
      <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-control">
          <input type="text" matInput placeholder="عنوان سوال را وارد کنید" formControlName="title">
          <mat-error>لطفا عنوان را وارد کنید</mat-error>
        </mat-form-field>
        <mat-form-field class="form-control">
          <input type="text" matInput placeholder="سوال  را وارد کنید" formControlName="content">
          <mat-error>لطفا سوال را وارد کنید</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="تاریخ انقضا" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <p>نوع سوال را مشخص کنید</p>
        <mat-radio-group class="form-control" aria-labelledby="example-radio-group-label" class="example-radio-group" (change)="onRadioClick($event)">
          <mat-radio-button style="margin: 1em" class="example-radio-button" *ngFor="let season of seasons" [value]="season">
            {{season}}
          </mat-radio-button>
        </mat-radio-group>
        <button class="form-control" type="submit" mat-raised-button color="primary"
          [disabled]="formGroup.invalid">ایجاد</button>
        <!-- <p *ngIf="!status" style="color: red">رمز با پسورد اشتباه است</!-->
      </form>
    </section>
  </mat-tab>
  <mat-tab label="Current Issue">
    <div *ngFor="let item of authService.cards">
      <app-card [id]="item.id" [header]="item.header" [content]="item.content" [isBoolean]="item.isBoolean"
        [imgUrl]="item.imgUrl" [title]="item.title" [subTitle]="item.subTitle" [totalPersent]="calpersent(item.id)"
        [totalpositive]="calpositive(item.id)" [totalnegative]="calnegative(item.id)" [date]="item.expireDate" (onPersent)="onPersent($event)"
        (onVote)="onVote($event)" [checked]="item.checked" [ExpiredTab]="false" [CurrentTab]="true"></app-card>
    </div>
  </mat-tab>
  <mat-tab label="Past Issue">
    <div *ngFor="let item of authService.cards">
      <app-card [id]="item.id" [header]="item.header" [content]="item.content" [isBoolean]="item.isBoolean"
        [imgUrl]="item.imgUrl" [title]="item.title" [subTitle]="item.subTitle" [totalPersent]="calpersent(item.id)"
        [totalpositive]="calpositive(item.id)" [totalnegative]="calnegative(item.id)" [date]="item.expireDate" (onPersent)="onPersent($event)"
        (onVote)="onVote($event)" [checked]="item.checked" [ExpiredTab]="true" [CurrentTab]="false"></app-card>
    </div>
  </mat-tab>
</mat-tab-group>
