<button *ngIf="status" mat-raised-button style="margin:1em" (click)="onLogoutClick()">خروج</button>
<div *ngIf="!status">
<p style="font-size: 16px">به وبسایت رای گیری خوش آمدید</p>
<!-- <button mat-raised-button style="width:100px; margin-left:25px" color="primary" [routerLink]="'/login'">ورود</button> -->
<!-- <button *ngIf="!status" mat-raised-button color="primary" [routerLink]="'/questions'">سوالات</button> -->
</div>
<router-outlet></router-outlet>
